.form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  width: 380px;
}

.input {
  border: solid 3px var(--color-header);
  background-color: transparent;
  color: var(--color-header);
  width: 150px;
}

.label {
  color: var(--color-header);
  text-align: center;
}
