.recipesBox::-webkit-scrollbar {
  background-color: rgb(52, 50, 50);
  border-radius: 12px;
  width: 8px;
}

.recipesBox::-webkit-scrollbar-thumb {
  background-color: var(--color-header);
  border-radius: 12px;
}

.allRecipes {
  align-items: center;
  /*   border: solid 1px red; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 700px;
  width: 100%;

  .headerAllRecipes {
    align-items: center;
    border: solid 1px var(--color-border);
    border-radius: 4px;
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1rem;
    justify-content: space-around;
    margin: 10px;
    width: 70%;

    .headerAllRecipesText {
      /*    border: solid 1px blue; */
      margin: 8px;
      width: 90%;
      p {
        text-align: center;
      }
    }

    .headerAllRecipesFilters {
      align-items: center;
      /*       border: solid 1px red; */
      display: flex;
      justify-content: space-around;
      height: 60px;
      gap: 0 20px;
      width: 100%;

      .form {
        /*         border: solid 1px red; */
      }

      .select {
        /*         border: solid 1px red; */
      }

      .button {
        /*       border: solid 1px red; */
      }
    }
  }

  .listOfIngredients {
    align-items: center;
    border: solid 1px var(--color-border);
    border-radius: 4px;
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    min-height: 600px;
    width: 280px;

    .ingredientsBox {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8rem;
      justify-content: flex-start;
      width: 100%;

      .ingredient {
        /*         border: solid 1px red; */
        margin: 4px;

        input[type="checkbox"] {
          accent-color: orange;
        }

        input[type="checkbox"]:checked + label {
          color: orange;
        }
      }
    }
  }

  .recipesBox {
    /*     border: solid 1px yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 480px;
    overflow-y: scroll;
    width: 74%;

    .recipes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /*  justify-content: center; */
      .choosenIngredients {
        border: solid 1px var(--color-border);
        color: var(--color-font);
        margin-left: 50px;
        padding: 10px;
        width: 90%;
        ul {
          margin: 2px;
          color: red;
        }
      }
    }
  }
}
