.IngredientWeight {
  background-color: var(--color-main);
  border: solid 3px var(--color-header);
  border-radius: 8px;
  color: black;
  height: 250px;
  margin-left: 300px;
  margin-top: 150px;
  position: absolute;
  width: 250px;
  z-index: 1;

  .singleIngredient {
    align-items: center;
    color: var(--color-header);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 160px;
    justify-content: space-evenly;
    margin: 2px;
    padding: 2px;
    width: 98%;

    .titleMeal {
      font-size: 1rem;
      text-align: center;
      width: 80%;
    }

    .imgContainerMeal {
      border: solid 1px silver;
      border-radius: 8px;
      display: flex;
      height: 70px;
      justify-content: center;
      margin: 6px;
      overflow: hidden;
      width: 70px;
      .logoImgMeal {
        margin: auto auto;
        max-height: 110%;
      }
    }

    .values {
      color: var(--color-font);
      display: flex;
      flex-direction: row;
      font-size: 0.9rem;
      justify-content: space-between;
      margin: 4px;
      width: 90%;
    }
  }
}
