.content {
  align-items: center;
  border: solid 3px var(--color-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  padding: 12px;
  width: 60vw;
}

.dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
