.day {
  align-items: center;
  border: solid 3px rgb(77, 74, 74);
  border-radius: 8px;
  color: var(--color-font);
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 500px;
  width: 20vw;
}

.title {
  border-bottom: solid 2px white;
  height: 22px;
  margin-top: 8px;
}

h3,
h4 {
  color: var(--color-header);
}

.imgContainer {
  background-color: var(--color-main);
  border: solid 4px silver;
  border-radius: 90px;
  display: flex;
  height: 120px;
  justify-content: center;
  overflow: hidden;
  margin-top: -60px;
  width: 120px;
}

.logoImg {
  margin: auto auto;
  max-height: 110%;
}

.singleMeal {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80px;
  justify-content: space-evenly;
  margin: 2px;
  padding: 2px;
  width: 98%;

  .titleMeal {
    color: white;
    font-size: 1rem;
    text-align: center;
    width: auto;
  }

  .imgContainerMeal {
    background-color: var(--color-main);
    border: solid 1px silver;
    display: flex;
    height: 70px;
    justify-content: center;
    overflow: hidden;
    width: 70px;
  }

  .logoImgMeal {
    margin: auto auto;
    max-height: 110%;
  }

  .values {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: space-between;
    margin: 4px;
    width: 70%;
  }
}
