.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 100%;

  .shortDescription {
    color: var(--color-font);
    font-size: 1rem;
    padding: 10px;
    /*     text-indent: 50px; */
    text-align: center;
    width: 90%;
  }

  .fields {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
