.menu {
  align-content: space-around;
  border: solid 3px var(--color-border);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
  width: 14vw;
}

.title {
  border-bottom: solid 2px white;
  height: 30px;
  margin-top: 8px;
  width: 70%;
}

.list {
  color: var(--color-header);
  font-size: 1.2rem;
  list-style: none;
  text-align: center;

  li {
    cursor: pointer;
    padding: 10px 0;
  }

  li:hover {
    color: whitesmoke;
    font-size: 1.7rem;
    transition: 0.5s;
  }
}
