.newMeal {
  color: var(--color-font);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  width: 98%;

  .btn {
    background: transparent;
    border: solid 1px var(--color-header);
    border-radius: 4px;
    color: var(--color-header);
    cursor: pointer;
    margin: 4px 0;
    padding: 4px;
  }

  .btn:hover {
    background: var(--color-header);
    border: solid 1px var(--color-header);
    color: black;
  }

  .title {
    /*     border: solid 1px red; */
    margin: 20px;
  }

  .selectBox {
    align-items: center;
    display: flex;
    height: 8%;
    justify-content: center;
    width: 82%;
  }

  .ingredientsBox {
    /*   border: solid 1px red; */
    /* border: solid 2px var(--color-border); */
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    justify-content: space-around;
    padding: 4px;
    width: 70%;

    .ingredient {
      /*         border: solid 1px blue; */
      border: solid 2px var(--color-border);
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 160px;
      justify-content: center;
      margin: 4px;
      width: 20%;

      .ingredientName {
        color: var(--color-header);
        font-size: 0.9rem;
        padding: 2px;
        text-align: center;
        width: 90%;
      }

      .imgContainer {
        /*  border: solid 2px gold; */
        border-radius: 12px;
        height: 60px;
        margin: 4px;
        width: 60px;
      }

      .ingredientValues {
        align-items: center;
        /*       border: solid 1px yellowgreen; */
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        width: 40%;
      }

      .buttons {
        /*      border: solid 1px yellow; */
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        padding: 4px;

        .singleBtn {
          /*   border: solid 1px red; */
          display: flex;
          justify-content: space-around;
          margin: 6px;

          .input {
            width: 30%;
          }

          .addBtn {
            background: transparent;
            color: var(--color-font);
            cursor: pointer;
            font-size: 0.6rem;
            padding: 4px;
          }
        }
      }
    }
  }

  .onBlur {
    filter: blur(3px);
  }

  .newMealComposition {
    align-items: center;
    border: solid 2px var(--color-border);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 4px;
    width: 24%;

    .titleNewMeal {
      color: var(--color-header);
      text-align: center;
    }

    .singleIngredient {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 80px;
      justify-content: space-evenly;
      margin: 2px;
      padding: 2px;
      width: 98%;

      .titleMeal {
        color: white;
        font-size: 0.8rem;
        text-align: center;
        width: auto;
      }

      .imgContainerMeal {
        background-color: var(--color-main);
        border: solid 1px silver;
        border-radius: 12px;
        display: flex;
        height: 40px;
        justify-content: center;
        overflow: hidden;
        width: 40px;
      }

      .logoImgMeal {
        margin: auto auto;
        max-height: 110%;
      }

      .values {
        display: flex;
        flex-direction: row;
        font-size: 0.7rem;
        justify-content: space-between;
        margin: 4px;
        width: 70%;
      }
    }

    h5 {
      margin: 4px;
    }

    .btn {
      background: transparent;
      border: solid 1px var(--color-header);
      border-radius: 4px;
      color: var(--color-header);
      cursor: pointer;
      margin: 4px 0;
      padding: 4px;
      width: 80%;
    }

    .btn:hover {
      background: var(--color-header);
      border: solid 1px var(--color-header);
      color: black;
    }
  }
}
