.select {
  background-color: transparent;
  border: solid 1px var(--color-header);
  border-radius: 8px;
  color: var(--color-header);
  height: 60%;
  margin: 0 20px;
  padding: 2px;
}

.select option {
  background-color: black;
  margin: 4px;
  padding: 4px;
}

.select option:active {
  background-color: red;
  margin: 4px;
  padding: 4px;
}
select:focus {
  border-color: blue;
  outline-color: blue;
}
